body {
    font-family: 'Courier New', sans-serif;
    background-color: #ffffff;
    padding: 0;
   height: 300vh;
}
.parte1{
    background-color: #73f7a5;
    padding: 2%;
    border-radius: 50px;
    box-shadow: 0 0 5px rgba(177, 177, 177, 0.8);
    max-width: 350px;
    width: 40%;
}
h1 {
    text-align: justify;
    color: #060505;
    margin-bottom: 20px;
}
.componente{
    font-family: 'arial', sans-serif;
    background-color: #4296f1;
    box-shadow: 0 0 20px rgba(9, 58, 119, 0.752);
    color: #240606;
    margin: 10;
    padding: 0;
    margin-left: 20px;
    width: 20%;
}
p{
     color: #000000;
    margin: 10;
    padding: 0;
     margin-left: 30px;
}
button{
    border: none;
    background: transparent;
}
.tira-container{
    width: 100%;
    overflow: hidden;
    height: 120px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.tira{
    height: 120px;
    width: 300%;

    background: url("tira_arduino.jpg") repeat-x;
    background-size: contain;

    filter: brightness(2.5);

    animation: mover 8s linear infinite;
}

@keyframes mover{
    from{
        transform: translateX(0);
    }

    to{
        transform: translateX(-33.33%);
    }
}